@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"> 
                      function DrawCustom(){
                          let formData = $("#ChartDrawForm").serialize();
                          //alert("data is: " + formData);
                           let jsonData = $.ajax({
                               url:'Index/Charts/DrawChartX',
                               async:false,
                               data:formData,
                               type:"POST"
                               }).responseText;
                           let asJson = JSON.parse(jsonData);
                           data = new google.visualization.arrayToDataTable(asJson["DataPoints"]);
                           let options = {
                             title: asJson["Title"],
                             curveType: 'function',
                             legend: { position: 'bottom' }
                           };
                           let chart = new google.visualization.LineChart(document.getElementById('ConfigChart'));
                           chart.draw(data,options);           
                      }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(TestChart);
                
                function TestChart(){
                    var jsonData = $.ajax({
                        url:'Index/Charts/Test',
                        dataType:"json",
                        async:false,
                        type:"GET"
                        }).responseText;
                    var asJson = JSON.parse(jsonData);
                    data = new google.visualization.arrayToDataTable(asJson);
                    var options = {
                      title: 'Test',
                      curveType: 'function',
                      legend: { position: 'bottom' }
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('TestChart'));
                    chart.draw(data,options);
                }
        </script>
    <!-- My Charts -->
    <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(ChartAll_Year);
            
            function ChartAll_Year(){
                var jsonData = $.ajax({
                    url:'Index/Charts/All/Year',
                    dataType:"json",
                    async:false,
                    type:"GET"
                    }).responseText;
                var asJson = JSON.parse(jsonData);
                data = new google.visualization.arrayToDataTable(asJson);
                var options = {
                  title: 'This Year: All',
                  curveType: 'function',
                  legend: { position: 'bottom' }
                };
                var chart = new google.visualization.LineChart(document.getElementById('All_Year_Chart'));
                chart.draw(data,options);
            }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(ChartAll_Month);
        
        function ChartAll_Month(){
            var jsonData = $.ajax({
                url:'Index/Charts/All/Month',
                dataType:"json",
                async:false,
                type:"GET"
                }).responseText;
            var asJson = JSON.parse(jsonData);
            data = new google.visualization.arrayToDataTable(asJson);
            var options = {
              title: 'This Month: All',
              curveType: 'function',
              legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('All_Month_Chart'));
            chart.draw(data,options);
        }
    </script>


    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(ChartAll_Week);
        
        function ChartAll_Week(){
            var jsonData = $.ajax({
                url:'Index/Charts/All/Week',
                dataType:"json",
                async:false,
                type:"GET"
                }).responseText;
            var asJson = JSON.parse(jsonData);
            data = new google.visualization.arrayToDataTable(asJson);
            var options = {
              title: 'This Week: All',
              curveType: 'function',
              legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('All_Week_Chart'));
            chart.draw(data,options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(ChartAll_Day);
        
        function ChartAll_Day(){
            var jsonData = $.ajax({
                url:'Index/Charts/All/Day',
                dataType:"json",
                async:false,
                type:"GET"
                }).responseText;
            var asJson = JSON.parse(jsonData);
            data = new google.visualization.arrayToDataTable(asJson);
            var options = {
              title: 'This Day: All',
              curveType: 'function',
              legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('All_Day_Chart'));
            chart.draw(data,options);
        }
    </script>



</head>
  <body>
 <div class="jumbotron">
     <h1>What Is the Weather Like On The Deck?</h1>
     <h3>&#64</h3>
     <h3>@ViewBag.Timestamp</h3>
 </div>
 <div class="row">
     <h4>Temperature: @ViewBag.Temperature&#186C</h4>
 </div>
 
 <div class="row">
     <h4>Humidity: @ViewBag.Humidity</h4>
 </div>
 
 <div class="row">
     <h4>Brightness: @ViewBag.Brightness &#9728</h4>
 </div>
 <div class="row">
     <h4>Wind Speed: @ViewBag.WindSpeed -> @ViewBag.WindDir</h4> 
 </div>
 
  
  <h2>my form</h2>
      <!-- <form id="ChartDrawForm" method="post" action="/Index/Charts/DrawChartX" enctype="application/x-www-form-urlencoded"> !-->
  <div style="overflow:auto;white-space:nowrap">
      <form id="ChartDrawForm" action="" enctype="application/x-www-form-urlencoded">
          <select id="Timeline" onchange="DrawCustom()" name="Timeline">
              <option value="Day"name="Day">Day</option>
              <option value="Week"name="Week">Week</option>
              <option value="Month"name="Month">Month</option>
              <option value="Year" name="Year">Year</option>
          </select>
          <input type="checkbox" id="TemperatureBox" onclick="DrawCustom()" name="TemperatureBox" value="2"/>
          <label for="TemperatureBox"> Temperature</label>
          <input type="checkbox" id="HumidityBox" onclick="DrawCustom()" name="HumidityBox" value="4"/>
          <label for="HumidityBox"> Humidity</label>
          <input type="checkbox" id="BrightnessBox" onclick="DrawCustom()" name="BrightnessBox" value="8"/>
          <label for="BrightnessBox"> Brightness</label>
          <input type="checkbox" id="WindSpeedBox" onclick="DrawCustom()" name="WindSpeedBox" value="16"/>
          <label for="WindSpeedBox"> WindSpeed</label>
          <!--<input type="submit" value="Draw"/> !-->
      </form>
  </div>
  
  
    
       
  <h2> My New Charts</h2>
    <div id="ConfigChart" style="width: 900px; height: 500px"></div>
    <div id="All_Year_Chart" style="width: 900px; height: 500px"></div>
    <div id="All_Month_Chart" style="width: 900px; height: 500px"></div>
    <div id="All_Week_Chart" style="width: 900px; height: 500px"></div>
    <div id="All_Day_Chart" style="width: 900px; height: 500px"></div>
  </body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>