@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>What Is the Weather Like On The Deck?</h1>
    <h3>&#64</h3>
    <h3>@ViewBag.Timestamp</h3>
</div>
<div class="row">
    <h4>Temperature: @ViewBag.Temperature&#186C</h4>
</div>

<div class="row">
    <h4>Humidity: @ViewBag.Humidity</h4>
</div>

<div class="row">
    <h4>Brightness: @ViewBag.Brightness &#9728</h4>
</div>
<div class="row">
    <h4>Wind Speed: @ViewBag.WindSpeed -> @ViewBag.WindDir</h4> 
    <h5>CallMe: @ViewBag.WeekDeets</h5>
</div>

  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Temperature', 'Humidity'],
          ['2004',  4,      400],
          ['2005',  4,      460],
          ['2006',  4,       1120],
          ['2007',  4,      540]
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(LoadData);
        
        function LoadData(){
            var jsonData = $.ajax({
                url:'Index/Charts/Test',
                dataType:"json",
                async:false,
                type:"GET"
                }).responseText;
            var asJson = JSON(jsonData);
            data = new google.visualization.arrayToDataTable(asJson);
            var options = {'title':'TestChart','width':600,'height':500};
            var chart = new google.visualization.LineChart(document.getElementById('chart'));
            chart.draw(data,options);
        }
        
        function ChartData(data) {
            alert("Hia folks!")
        }
    
    </script> 
    
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <div id="chart" style="width: 900px; height: 500px"></div>
  </body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>